<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>G-Mail Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>

<div align="center">
    <h1>Send Mail</h1>
    <br />
    <div class="col-sm-4">
        <form th:action="@{/mail}" method="post" enctype="multipart/form-data">


            <div alight="left">
                <tr>
                    <label class="form-label" >First Name</label>
                    <td>
                        <input type="text" class="form-control" name="firstname" />
                    </td>
                </tr>
            </div>

            <div alight="left">

                <tr>
                    <label class="form-label" >Email</label>
                    <td><input type="email" class="form-control" name="email" /></td>
                </tr>
            </div>
            <div alight="left">
                <tr>
                    <label class="form-label" >Subject</label>
                    <td><input type="text"  class="form-control" name="subject" /></td>
                </tr>
            </div>
            <div alight="left">
                <tr>
                    <label class="form-label" >Body</label>
                    <td><textarea rows="5" class="form-control" name="body"></textarea></td>
                </tr>
            </div>
            <br>
            <div alight="left">
                <tr>
                    <label class="form-label" >Send To</label>
                    <td><input type="email"  class="form-control" name="send" /></td>
                </tr>
            </div>
            <br>
            <div alight="left">
                <tr>
                    <label class="form-label" >Attachment</label>
                    <td><input type="file"  name="attachment" /></td>
                </tr>
            </div>
            <br>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-dark">Send</button> </td>
            </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>