<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>G-Mail response</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div class="container">
   <div class="text-center">
       <h1>Mail Sent </h1>
       <h3> Thank you</h3>
       </br>
       </br>
       <h1><a href="/" h> Back </a></h1>
   </div>

</div>
</body>
</html>